.modal-overlay
.modal-wrapper
  .video-inner.modal-inner
    .video-close
      .youtube-modal.modal-close.fa.fa-times
    #youtube-video
      %embed{ width: "640", height: "360", src: @video.youtube_url, type: "application/x-shockwave-flash" }