%ul.side-nav
  - @navigation.each_with_index do |nav_item, index|
    %li
      - if index == 0
        = link_to nav_item.title, root_path
        = link_to content_tag(:i, '', class: 'fa fa-cogs'), '', class: 'cogs'
      - else
        = link_to nav_item.title, eval("#{nav_item.title.titleize.delete(' ').underscore}_path")